*{
    box-sizing: border-box;
}

body{
  background-image: url('/images/mori_morning.jpg');
  /* 全体の横幅 */
  width: 100%;
  /* 全体を中央寄せ */
  /* margin: auto; */
  /* 全体の余白 */
  padding: 10px;
}

/* 数字 */

/* ボタン共通 */
input{
  border: 0;
  background: none;
  display: block;

  text-align: center;

  /* 文字の大きさ */
  font-size: 20px;
}

.delete{
  height: 30px;
  font-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}

h1.title{
  color: #fff;
  width: 8em;
  margin: auto;
  margin-top: 20px;
}

.message{
  font-family: monospace;
  font-size: 20px;
  background-color: #F9ABF9;
}

.count{
  float: left;
  margin: 20px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 370px;
  position: relative;
}

.wrapper{
  position: relative;
  width: 250px;
  height: 250px;
  border: solid 3px #fff;
  margin: auto;
}

p.name{
  font-size: 30px;
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
}

.number{
  position: absolute;
  color: #fff;
  font-size: 100px;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
}

.wrapper .content{
  position: absolute;
  width: 100%;
  height: 100%;
}

.upload .name{
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 10px;
  height: 42px;
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
}

.upload #image{
  margin: auto;
  width: 200px;
  height: 200px;
  display: none;
}

.wrapper .dummy{
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background-color 0.4s;
}

.wrapper .dummy:hover{
  background-color: #fff;
  transition: background-color 0.4s;
}

label {
  display: block;
}

.wrapper i{ 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 75px;
  height: 71px;
}

.btn_create{
  margin: auto;
  border: solid 3px rgb(255, 255, 255);
  margin-top: 10px;
  display: block;
  width: 250px;
  transition: background-color 0.4s;
}

.btn_create:hover{
  background-color: #fff;
  transition: background-color 0.4s;
}

.wrapper form input{
  width: 50%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.4s;
}
.wrapper form input:hover{
  background-color: #fff;
  transition: background-color 0.4s;
}

.count_up{ left: 0; }
.count_down{ right: 0; }
